[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}
django-sslserver = "*"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
django-debug-toolbar = "*"
django-mail-panel = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-simple-history = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.8"
